@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@600&display=swap');
body{
    width: 99.2%;
}
#footer{
    background-image: url(Fosa3/footer.png);
    height: 460px;
    padding-top: 8%;
    max-width: 100%;
}
#md6 p{
    color:  #FFFFFF;
    font-size: 4vh;
    line-height: 33px;
    margin-left: 7%;
}
h3{
    color: #FFFFFF;
    padding-bottom: 3%;
}
#lg1{
    max-width: 100%;
    padding-left: 5%;
}
#lg4{
    max-width: 100%;
}
#lg4 p{
    color:#FFFFFF;
    font-size: 3vh;
    line-height: 33px;
}
#lg3{
    max-width: 100%;
}
#lg3 p{
    width: 175px;
    height: 36.84px;
}
#lg3 p i{
    color: #FFFFFF;
    margin-left: 10px;
    font-size: 20px;
}
#lg3 input[type=email]{
    width: 90%;
    height: 59px;
    border-radius: 10px;
    outline: none;
    border: none;
   
}
#lg3 input[type=submit]{
    width: 115px;
    height: 37px;
    background: #159F15;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    margin-top: 0.8%;
    position: absolute;
    right: 5%;
}

@media screen and (min-device-width: 600px) and (max-device-width: 991px){
    body{
        max-width: 100%;
    }
    #footer{
        max-width: 100%;
        height: 350px;
    }
    #footer #row{
        max-width: 110%;
        margin-left: 4px;

    }
    #footer #lg1, #lg4, #lg3{
        max-width: 33.25%;
    }
    #footer #lg1 #row1 #md3{
        max-width: 100%;
        display: none;
    }
    #footer #lg1 #row1 #md6{
        max-width: 100%;
    }
    #footer #lg1 #row1 #md6 p{
        font-size: 1.5vw;
        z-index: 2;
    }
    #footer #lg4 h3{
        font-size: 4vw;
    }
    #footer #lg4 p{
        font-size: 2vw;
    }
    #lg3 h3{
        font-size: 4vw;
    }
    #lg3 p i{
        color: #FFFFFF;
        margin-left: 10px;
        font-size: 2vw;
    }
    #lg3 input[type=email]{
        width: 90%;
        height: 5vw;
        border-radius: 10px;
        outline: none;
        border: none;
        font-size: 1.5vw;
        padding-right: 50px;
    }
    #lg3 input[type=submit]{
        width: 10vw;
        height: auto;
        background: #159F15;
        border-radius: 5px;
        color: #FFFFFF;
        border: none;
        margin-top: 0.8%;
        position: absolute;
        right: 6%;
        font-size: 1.5vw;
    }

    
}
@media screen and (min-device-width: 10px) and (max-device-width: 599px){
    body{
        max-width: 100%;
    }
    #footer{
        max-width: 100%;
        height: 200px;
    }
    #footer #row{
        max-width: 110%;
        margin-left: 4px;

    }
    #footer #lg1, #lg4, #lg3{
        max-width: 33.25%;
    }
    #footer #lg1 #row1 #md3{
        max-width: 100%;
        display: none;
    }
    #footer #lg1 #row1 #md6{
        max-width: 100%;
    }
    #footer #lg1 #row1 #md6 p{
        font-size: 1.5vw;
        z-index: 2;
    }
    #footer #lg4 h3{
        font-size: 4vw;
    }
    #footer #lg4 p{
        font-size: 2vw;
    }
    #lg3 h3{
        font-size: 4vw;
    }
    #lg3 p i{
        color: #FFFFFF;
        margin-left: 10px;
        font-size: 2vw;
    }
    #lg3 input[type=email]{
        width: 90%;
        height: 5vw;
        border-radius: 3px;
        outline: none;
        border: none;
        font-size: 1.5vw;
        padding-right: 50px;
    }
    #lg3 input[type=submit]{
        width: 10vw;
        height: auto;
        background: #159F15;
        border-radius: 5px;
        color: #FFFFFF;
        border: none;
        margin-top: 2.5%;
        position: absolute;
        right: 6%;
        font-size: 1.5vw;
    }

}