@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;0,1000;1,1000&family=Poppins:wght@600&display=swap');
#ct1{
    width: 99.2%;
}
#ct1 #lg6{
    background-image: url(ContactIMG/Rectangle\ 43.png);
    background-position: center;
    background-size: cover;
    height: 982px;
}
#ct1 h1{
    font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 68px;
margin-top: 10%;
margin-left: 10%;

color: #000000;
}
#ct1 hr{
    width: 40px;
    height: 4px;
    margin-left: 10%;
    background: #159F15;
}
#ct1 #ct1_1 p span{
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
/* identical to box height */


/* Gray 2 */

color: #4F4F4F;
}
#ct1 #ct1_1 p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */
margin-left: 15%;

/* Gray 2 */

color: #4F4F4F;
}
#ct1 form{
    padding-left: 10%;
    margin-top: 10%;
    margin-bottom: 8%;
}
#ct1 input[type=text], input[type=email],input[type=tel]{
    width: 80%;
    height: 50px;
    margin-bottom: 4%;
    border-radius: 5px;
    border: 1px solid #4f4f4fb6;
}
textarea{
    width: 80%;
    height: 200px;
    border-radius: 5px;
}
#ct1 input[type=submit]{
    width: 256px;
    height: 47px;
    border: none;
    color: white;
    margin-top: 8%;

    /* prem */

    background: #159F15;
    border-radius: 4px;
}
#ct1 p{
    margin-left: 5%;
    font-size: 25px;
}
#ct1 p i{
    color: #3D3E48;
    margin-left: 5%;
}